body {
    background: #f0f4f5 !important;
    overflow-x: hidden;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 25;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
}

.sidebar a {
    padding: 10px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #202020;
    display: block;
}

.sidebar button {
    padding: 10px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #202020;
}

.sidebar a:hover, .sidebar button:hover {
    background-color: #e1e5e6;
    color: #202020;
}

.sidebar a.active {
    background-color: #d5dadb;
    border-left: 2px solid rgba(0, 162, 255, 1);
}

.sidebar a svg {
    height: 32px;
    width: 32px;
    margin: 0px 10px 4px 0px;
}

.sidebar svg {
    height: 32px;
    width: 32px;
    margin: 0px 10px 4px 0px;
}

.sidebar .logo {
    padding: 15px 25px;
    font-size: 36px;
    font-weight: bold;
    color: rgb(0, 162, 255);
    display: block;
}

.sidebar .divider {
    margin: 25px 20px;
    border: 0;
    border-top: 1px solid rgba(180, 180, 180, 0.5);
    display: block;
}

.sidebar-open, .sidebar-close {
    color: #ccc;
}

.sidebar-open:hover {
    color: #fff;
    transition: 0.25s;
}

.sidebar-close:hover {
    color: #000;
    transition: 0.25s;
}

.sidebar-open, .sidebar-close {
    padding-bottom: 5px;
    padding-left: 10px;
    cursor: pointer;
}

.sidebar-open svg, .sidebar-close svg {
    padding: 5px;
    font-size: 2.5rem !important;
}

.sidebar-close svg {
    height: 40px;
    width: 40px;
    margin-right: 0;
}

.wrapper {
    padding: 25px !important;
    padding-left: 275px !important;
}

@media screen and (max-width: 1200px) {
    .wrapper {
        padding-left: 25px !important;
    }

    .sidebar {
        left: -250px;
        transition: 0.5s;
    }

    .track-edit-time {
        margin-left: 0px !important;
    }

    #track-header-input-dropdown-md, #track-header-input-dropdown, #track-header-input-dropdown-add, #track-edit-input-dropdown, #track-edit-input-dropdown-md {
        margin-right: 1vw;
        color: #008bdb;
        font-size: 20px;
    }

    .track-task {
        max-width: 50vw;
    }
}

@media screen and (max-width: 992px) {
    .track-edit-date {
        margin-right: 1vw !important;
    }

    .track-edit-time {
        margin-left: 0 !important;
    }

    .track-edit-time-save, .track-body-content-more {
        margin-right: 1vw !important;
    }

    .track-add-task {
        margin-right: 10px;
    }

    #track-header-input-dropdown {
        max-width: 50vw !important;
    }

    #track-edit-input-dropdown-md {
        max-width: 50vw;
    }

    .track-task {
        max-width: 80vw;
    }

    .track-edit-content {
        margin-top: 10px;
    }

    .calendar-body {
        min-width: 28vw !important;
    }
}

@media screen and (max-width: 768px) {
    .track-edit-date {
        margin-right: 5px !important;
    }

    .track-edit-time-save, .track-body-content-more {
        margin-right: 0 !important;
    }

    #track-edit-input-dropdown {
        max-width: 80vw;
    }

    .track-edit-content {
        flex-wrap: wrap;
    }

    .calendar-create-date, .calendar-create-time-start, .calendar-create-time-end {
        margin-top: 0 !important;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .calendar-create-date-title, .calendar-create-time-start-title, .calendar-create-time-end-title, .calendar-create-name-title, .calendar-create-task-title {
        margin-top: 10px !important;
        margin-bottom: 0 !important;
    }
}

@media screen and (max-width: 576px) {
    #track-header-input-dropdown {
        max-width: 20vw !important;
    }

    .track-task-title {
        padding-right: 20px;
    }

    .track-header-time {
        margin-left: 10px !important;
        margin-right: 0 !important;
    }

    .track-edit-datetime {
        flex-wrap: wrap;
    }

    .track-edit-time {
        width: 100% !important;
    }

    .track-edit-time-save, .calendar-popover, .calendar-content-time {
        display: none !important;
    }

    .track-edit-time-save-md {
        padding-left: 50px;
        padding-bottom: 0px !important;
        font-size: 2.5rem;
    }

    .track-edit-date {
        width: 100%;
    }

    .track-edit-date input {
        margin-top: 10px;
        margin-left: 0px !important;
    }

    .calendar-body {
        min-width: 50vw !important;
    }

    .calendar-wrapper::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0) !important;
    }

    .calendar-header {
        margin-bottom: 20px !important;
        flex-wrap: wrap;
    }

    .calendar-header button {
        width: 100%;
        margin-top: 10px !important;
    }

    .calendar-week {
        width: 100%;
    }
}

@media screen and (min-width: 1400px) {
    .track-task {
        max-width: 50vw !important;
    }
}

@media screen and (min-width: 1200px) {
    .wrapper {
        padding-left: 275px !important;
    }

    .sidebar {
        left: 0px !important;
    }

    #track-header-input-dropdown-md, #track-header-input-dropdown, #track-header-input-dropdown-add, #track-edit-input-dropdown, #track-edit-input-dropdown-md {
        margin-right: 1vw;
        color: #008bdb;
        font-size: 20px;
    }

    #track-edit-input-dropdown-md {
        max-width: 20vw;
    }

    .track-task {
        max-width: 40vw;
    }
}

@media screen and (min-width: 992px) {
    #track-edit-input-dropdown-md {
        max-width: 20vw;
    }
}

@media screen and (min-width: 576px) {
    #track-header-input-dropdown-md {
        max-width: 25vw !important;
    }

    .track-header-time {
        margin: auto;
    }

    .track-edit-time-save-md {
        display: none;
    }
}

.track-header, .calendar-header {
    margin-bottom: 36px !important;
}

.track-header-button {
    margin-right: 5px;
}

.track-header-button button {
    height: 100%;
    min-width: 8vw;
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 20px;
}

.track-header-button button:focus {
    box-shadow: none;
}

.track-header-time {
    height: 100%;
    font-size: 24px;
}

.track-header-time input {
    max-width: 70px;
    width: 70px !important;
}

.track-header-time-start input {
    max-width: 70px;
    width: 70px !important;
}

.track-header-time-start-divider {
    padding: 0 4px;
}

.track-header-input {
    height: 100%;
    width: 100%;
}

.track-header-input-dropdown-md, .track-header-input-dropdown {
    width: 25px;
}

.track-dropdown-tasks {
    max-height: 250px !important;
    max-width: 250px;
    overflow: overlay;
}

.track-related-title {
    max-width: 25px;
    width: 25px;
}

.track-dropdown-tasks::-webkit-scrollbar {
    height: 8px;
    width: 5px;
}

.track-dropdown-tasks::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.25);
}

.track-dropdown-task-color {
    min-height: 10px;
    min-width: 10px;
    margin-right: 5px;
}

#track-header-input-dropdown {
    margin-top: 5px;
}

#track-header-input-dropdown-add {
    margin-left: 1vw;
}

.track-body-title {
    max-width: 100%;
    flex-wrap: wrap;
}

.track-title {
    margin-right: 10px;
}

.track-task-color {
    margin-right: 5px;
}

.track-task-title {
    margin-right: 10px;
}

.track-edit-title {
    margin-right: 10px;
}

.track-edit-time {
    min-width: 100px;
    margin-left: 1vw;
}

.track-edit-date input {
    width: 150px !important;
    margin-left: 5px;
    margin-right: 5px;
}

.mode-button:hover {
    cursor: pointer;
}

.mode-button.active {
    color: #008bdb;
}

.dropdown-input:hover, .dropdown-input:focus {
    background: none !important;
}

.dropdown-input input, .dropdown-input input:focus {
    background: #ebebeb;
}

.track-body {
    margin-bottom: 28px !important;
}

.track-body-header {
    font-weight: bold;
    color: rgb(100, 100, 100) !important;
}

.track-body-header-time {
    color: #202020 !important;
}

.track-body-header, .track-body-footer {
    background: rgb(210, 232, 255) !important;
}

.track-body-header-time {
    font-size: 20px;
    font-weight: bold;
}

.track-body-content {
    height: 100%;
    font-size: 20px;
}

.track-body-content-play, .track-body-content-more, .track-body-content-calendar, .track-edit-time-save, .track-edit-time-save-md, .tasks-body-content-more {
    padding-bottom: 5px;
    cursor: pointer;
}

.track-body-content-more {
    width: 2vw !important;
    padding-right: 25px !important;
}

.track-body-content-calendar {
    padding-left: 8px;
}

.tasks-header-title {
    color: #5c5c5c;
}

.tasks-header {
    margin-top: 25px;
    margin-bottom: 25px;
}

.tasks-filter-header {
    color: #adadad;
}

.tasks-body-header {
    font-weight: bold;
    color: rgb(100, 100, 100) !important;
    background: rgb(210, 232, 255) !important;
}

.tasks-body {
    margin-top: 25px;
}

.tasks-body-content-more, .tasks-body-header-content-more {
    margin-left: 5vw;
}

.tasks-body-header-content-more {
    margin-right: 24px;
}

.task-color {
    margin-right: 5px;
    font-size: 20px;
}

.calendar-task {
    width: 100%;
    position: absolute;
    margin-left: 2px !important;
    color: rgb(100, 100, 100) !important;
    border: 1px solid rgba(0, 0, 0, 0.25) !important;
    background: rgb(210, 225, 230);
    z-index: 1;
}

.calendar-task .side {
    height: 100%;
    min-width: 5px;
    width: 0.5vw;
    border: 1px solid rgba(0, 0, 0, 0.25) !important;
    background: #000;
}

.calendar-task-content {
    max-height: 100%;
    max-width: 100%;
    padding-left: 2px;
    padding-right: 4px;
}

.calendar-task-content-title, .calendar-task-content-task-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.calendar-task-content-title {
    font-size: 1rem;
    font-weight: bold;
}

.calendar-task-content-task-title {
    max-width: 100%;
    width: 100%;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.25);
}

.login-wrapper {
    max-width: 500px;
    min-width: 350px;
    width: 50vw;
    margin-top: 10vh;
    background: #fff;
}

.login-wrapper button {
    width: 100%;
    margin-top: 25px !important;
}

.login-wrapper button {
    width: 100%;
    margin-top: 10px !important;
}

.login-wrapper input {
    margin-bottom: 10px !important;
}

.login-header {
    margin-bottom: 25px;
}

.header-title {
    font-size: 28px !important;
    font-weight: bold;
}

.calendar-wrapper {
    max-height: 80vh;
    max-width: 100%;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.25) !important;
    overflow: overlay;
}

table {
    position: relative;
    border-collapse: separate !important;
    border-spacing: 0;
}

table th {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

table td {
    position: relative;
    border: 1px solid rgba(180, 180, 180, 0.25) !important;
    background: rgba(255, 255, 255, 0.5) !important;
}

thead th {
    position: sticky;
    top: 0;
    color: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.25) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 1) !important;
    background: rgb(135, 206, 253) !important;
    z-index: 4;
}

thead th:first-child {
    width: 80px;
    position: sticky;
    left: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.5) !important;
    z-index: 5;
}

tbody th {
    width: 80px;
    position: sticky !important;
    left: 0px;
    padding: 0 !important;
    padding-right: 5px !important;
    border-right: 1px solid rgba(0, 0, 0, 1) !important;
    background: #fff !important;
    z-index: 3;
}

.calendar-body {
    min-height: 80px;
    min-width: 15vw;
    height: 8vh;
    width: 25vw;
    padding: 0 !important;
}

.calendar-wrapper::-webkit-scrollbar {
    height: 10px;
    width: 8px;
}

.calendar-wrapper::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.25);
}

.calendar-wrapper::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
}

.calendar-wrapper::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.25);
}

.calendar-new-time {
    font-size: 12px;
    font-weight: lighter;
    color: #4b4b4b;
}

.time-calendar {
    width: 100%;
    position: absolute;
    border-top: 2px solid rgba(0, 174, 255, 0.5);
    transition: 0.25s;
    z-index: 2;
}

.calendar-week {
    height: 40px;
    font-size: 1.25rem;
    font-weight: bold;
    color: #4b4b4b;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #fff;
}

.calendar-week-title {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.calendar-week-title input {
    width: 160px !important;
    font-size: 1rem;
    font-weight: bold;
    color: #4b4b4b;
    border: 0;
}

.calendar-week-next {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.calendar-week-previous {
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.calendar-week-next, .calendar-week-previous {
    height: 40px;
    width: 40px;
}

.calendar-week-next svg, .calendar-week-previous svg {
    font-size: 2rem;
}

.calendar-header button {
    height: 40px;
    font-size: 1.25rem;
    font-weight: bold;
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
    background: #fff;
}

.calendar-create-date, .calendar-create-time-start, .calendar-create-time-end {
    margin-top: 5px;
    margin-bottom: 5px;
}

.calendar-create-date input, .calendar-create-time-start input, .calendar-create-time-end input, .calendar-create-name input {
    font-size: 1rem;
    font-weight: bold;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin-top: 5px;
    margin-bottom: 5px;
}

.calendar-create-date-title, .calendar-create-time-start-title, .calendar-create-time-end-title, .calendar-create-name-title, .calendar-create-task-title {
    height: 100%;
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.calendar-create-task {
    margin-top: 5px;
    margin-bottom: 5px;
}

#calendar-create-task-dropdown {
    max-width: 100%;
    margin-right: 1vw;
    font-size: 1.25rem;
    color: #008bdb;
}

.calendar-create-task-name {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.calendar-popover {
    max-width: 20vw !important;
}

.calendar-popover-header-title {
    font-weight: bold;
}

.calendar-popover-content {
    margin-top: 5px;
}

.calendar-popover-title {
    font-size: 1rem;
    font-weight: bold;
}

.calendar-popover-content-description {
    margin-left: 5px;
    font-size: 1rem;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.25);
}

.calendar-week-previous, .calendar-week-next, .calendar-task {
    cursor: pointer;
}

.calendar-week-previous:active, .calendar-week-next:active {
    background: rgba(0, 0, 0, 0.1);
}
